*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
}

header {
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1 {
    font-size: 6rem;
}

#navBar-section {
    background-color: transparent !important;
}

#tituloNav-1 {
    font-size: 3rem;
    font-weight: 300;
}

#tituloNav-2 {
    font-weight: 700;
}

nav img {
    width: 8rem;
}

#hero-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#search-section {
    position: absolute;
    bottom: 8rem;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.titulo-superHero {
    font-weight: 300;
}

.titulo-superHero-2 {
    font-weight: 700;
}

.card {
    background-color: rgba(22, 22, 22, 0.6);
    color: #ffffff;
    width: 26.6;
}

#hero-info h6 {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-body {
    margin-left: 1.5rem;
}

#hero-stats {
    height: 21.9rem !important;
    color: #FFFFFF !important;
}

@media(max-width: 768px) {
    #navBar-section {
        background-color: rgba(22, 22, 22, 0.92) !important;
    }
    #hero-stats {
        width: 26.6rem;
        height: 26.6rem !important;
        color: #FFFFFF !important;
        padding-top: 2rem;
    }
    footer {
        padding-top: 4rem !important;
    }
}